{% extends "base.html" %}

{% block content %}
<h1>SolutionNet</h1>
    <p>Welcome to SolutionNet, a site devoted to sharing and comparing solutions for the puzzle game <a href="http://www.spacechemthegame.com">SpaceChem</a> by <a href="http://www.zachtronicsindustries.com">Zachtronics Industries</a>.</p>
    <p>Registered users can upload their SpaceChem save file to have all of their solutions displayed and <a href='/leaderboards'>ranked against other uploaded solutions</a>. It is also possible to <a href="/solution-stats">view the same statistics used to generate the in-game graphs</a>, but with specific numbers that can't be seen in-game.</p>
{% endblock %}
